/node_modules
/storage/*.key
/storage/logs
/vendor
/public/bulk_slot/*
/storage/framework/*
/public/CvRefZip/*
/public/uploads
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
package-lock.json
composer.lock
.idea
.vscode
